body {
    background-color: lightgray;
    font-family:'Ubuntu Titling';
}

.contenedor
{
    background-color:white;
    border-radius:8px;
    color:#808080;
}

.center
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
